<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go or Owe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Materialzie -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">



    <!-- <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="sass.html">Sass</a>
                </li>
                <li>
                    <a href="badges.html">Components</a>
                </li>
                <li>
                    <a href="collapsible.html">Javascript</a>
                </li>
                <li>
                    <a href="mobile.html">Mobile</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="sass.html">Sass</a>
        </li>
        <li>
            <a href="badges.html">Components</a>
        </li>
        <li>
            <a href="collapsible.html">Javascript</a>
        </li>
        <li>
            <a href="mobile.html">Mobile</a>
        </li>
    </ul>

    <body>

        <div class="container valign-wrapper">


            <div class="row">


                <div class="col s12 ">


                    <a class="waves-effect waves-light btn">
                        <i id="check-in-click" class="material-icons">Check In</i>
                    </a>


                </div>

            </div>

        </div>



    </body>
    <script src="server.js"></script>
    <script>

        // materialize initiation
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });

        // Checkin button
        $("#check-in-click").click(function () {

            var geoLocater = {
                "async": true,
                "crossDomain": true,
                "url": "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyBpN9uvSZcmOLHtbehWtVy3ISrbBOa84Y0",
                "method": "POST",
                "headers": {
                    "Cache-Control": "no-cache",
                    "Postman-Token": "18e29c80-3d11-4662-b3bd-8014cad3785b"
                }
            }

            $.ajax(geoLocater).done(function (response) {

                var userLatitude = response.location.lat;
                var userLongitude = response.location.lng;

                console.log(userLatitude);
                console.log(userLongitude);
            });

            console.log("hello there");
        });


    </script>

</html>