<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go or Owe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialzie -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <nav>
        <div class="row">
            <div class="nav-wrapper col s10">
                <a href="#!" class="brand-logo">Gym Go</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/">Sign in / Sign out</a>
                    </li>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                </ul>

            </div>
            <div class="col s2">
                <p>Google</p>
            </div>

        </div>

    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="/">Sign in / Sign out</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/shop">Shop</a>
        </li>
    </ul>
</head>
    <body>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
        <div class="container valign-wrapper">


            <div class="row">


                <div class="col s12 ">


                    <a class="waves-effect waves-light btn">
                        <i id="check-in-click">Check In</i>
                    </a>


                </div>

            </div>
        </div>
        <div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
        <div class="container valign-wrapper">
        <div class="row">
                <a class="waves-effect waves-light btn">
                        <i id="rewardsBtn">Rewards</i>
                    </a>
        </div>
        </div>



    </body>
    <script src="server.js"></script>
    <script>
        // materialize initiation
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });

        // Onclick button

        $("#check-in-click").click(function () {
            console.log("hello there");
        });
        // Reward button 
        $("#rewardsBtn").click(function () {
            console.log("show me the goods!");
        });
    </script>

</html>