<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go or Owe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialzie -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <nav>
        <div class="row">
            <div class="nav-wrapper col s6">

                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/">Sign in / Sign out</a>
                    </li>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                </ul>
            </div>
            <div class="col s2">
                <a href="#!" class="brand-logo">GG</a>
            </div>
            <div class="col s2">
                <span class="flow-text">Points</span>
            </div>
            <div class="col s2">
                <p>Google</p>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="/">Sign in / Sign out</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/shop">Shop</a>
        </li>
    </ul>
</head>

<body>

    <div class="container valign-wrapper">


        <div class="row">


            <body>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="container valign-wrapper">
                    <div class="row">
                        <div class="col s12 ">
                            <a id="check-in-click" class="waves-effect waves-light btn">
                                <i class="right"></i>Check In
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="container valign-wrapper">
                    <div class="row">
                        <a class="waves-effect waves-light btn">
                            <i class="right"></i>Rewards
                        </a>
                    </div>
                </div>
            </body>



            <script>

                // Checkin button
                $("#check-in-click").click(function getLocation() {

                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }

                    function showPosition(position) {

                        var userLat = (position.coords.latitude);
                        var userLong = (position.coords.longitude);

                        $.ajax({
                            url: "/api/coords",
                            type: "POST",
                            datatype: "json",
                            data: {
                                lat: userLat,
                                long: userLong
                            }
                        });

                    };
                    // var gymChecker = {
                    //     "async": true,
                    //     "crossDomain": true,
                    //     "url": "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=" + userLatitude + "," + userLongitude + "&radius=1610&type=gym&key=AIzaSyBpN9uvSZcmOLHtbehWtVy3ISrbBOa84Y0",
                    //     "method": "GET",
                    //     "headers": {
                    //         "Cache-Control": "no-cache",
                    //         "Postman-Token": "cfce8123-b7a9-4cd5-b92f-cadcd25ea9c3"
                    //     }
                    // }


                    // $.ajax(gymChecker).done(function (response) {

                    //     response.results.forEach(gymName => {
                    //         console.log(gymName);

                    //         console.log(gymChecker.url);

                    //     });
                    // });


                });


                // Reward button 
                $("#rewardsBtn").click(function () {
                    console.log("show me the goods!");
                });

                // materialize initiation
                $(document).ready(function () {
                    $('.sidenav').sidenav();
                });

            </script>

</html>