<!DOCTYPE html>
<html lang="en">
<head>

  <title>Go or Owe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/styles.css"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <style>

  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Go or Owe</h1> 
  <p>Go to the Gym, or Pay Up!</p> 
  <form class="form-inline">
    <div class="input-group">
      <div class="col-md-4 text-center"> 
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Log In</button> 
    </div>
      </div>
    </div>
  </form>
</div>

<!-- Container (How it Works) -->
<div class="container-fluid">
  <h2>How it Works</h2>
  <h4>Short description of how our app works etc</h4>      
</div>




</body>
</html>

