<!doctype html>
<html>

<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="google-signin-client_id" content="116803104355-mom8937cm08pjlvbb66aib3d8bcqsvnp.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Saira+Semi+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title">


</head>

<style>
  h3 {
    color: white;
    font-size: 45px;
    font-family: 'Black Ops One', cursive;
    text-shadow: 0 5px 0 black;
  }




  h5 {
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-shadow: 0 3px 0 black;
  }



  .g-signin2 {
    width: 100%;
  }

  .g-signin2>div {
    margin: 0 auto;
  }
</style>

<body>
  <nav data-activates="mobile-demo" class="button-collapse">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="sass.html">Sass</a>
        </li>
        <li>
          <a href="badges.html">Components</a>
        </li>
        <li>
          <a href="collapsible.html">Javascript</a>
        </li>
        <li>
          <a href="mobile.html">Mobile</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="sass.html">Sass</a>
        </li>
        <li>
          <a href="badges.html">Components</a>
        </li>
        <li>
          <a href="collapsible.html">Javascript</a>
        </li>
        <li>
          <a href="mobile.html">Mobile</a>
        </li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
    $(".button-collapse").sideNav();
  </script>



  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="https://images.pexels.com/photos/415261/pexels-photo-415261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <!-- random image -->
        <div class="caption center-align">

          <h3>Go Or Owe</h3>

          <h5>Hit the Gym. Get Rewards.</h5>
          <br>
          <br>

          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light" onclick="Redirect()"></div>

          <br>

          <script>
            function onSignIn(googleUser) {

              // Useful data for your client-side scripts:
              var profile = googleUser.getBasicProfile();
              // console.log('giving up ')
              var signInId = (profile.getId()); // Don't send this directly to your server!
              // console.log('Full Name: ' + profile.getName());
              var firstName = (profile.getGivenName());
              var lastName = (profile.getFamilyName());
              var profileImage = (profile.getImageUrl());
              var email = (profile.getEmail());

              // The ID token you need to pass to your backend:
              var id_token = googleUser.getAuthResponse().id_token;
              // console.log("ID Token: " + id_token);

              if (googleUser) {


                $.ajax({
                  method: 'get',
                  url: '/api/userInfo',
                  datatype: 'json',
                  data: {
                    fn: firstName,
                    ln: lastName,
                    ema: email,
                    pi: profileImage,
                    sid: signInId
                  }
                }).then(function (response) {
                  console.log(response)
                  window.location = '/home?sid=' + response.sid
                });

              }


            };

          </script>
          <a href="#" onclick="signOut();">Sign out</a>
          <script>
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
              });
            }

          </script>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/290416/pexels-photo-290416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">




        <!-- random image -->
        <div class="caption right-align">
          <h3>Commitment.</h3>
          <h5>We want to reward those who commit to hitting the Gym</h5>
          <br>
          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light" onclick="Redirect()"></div>
          <br>
          <a href="#" id="sign-out" class="center-align" onclick="signOut();">Sign out</a>

        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/897061/pexels-photo-897061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

        <!-- random image -->
        <div class="caption right-align">
          <h3>The Store.</h3>
          <h5>Earn points by checking in everytime you go to the gym. Then check out our store to see what products you can earn!
            It's Simple.</h5>

          <br>

          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>

          <br>
          <a href="#" id="sign-out" class="center-align" onclick="signOut();">Sign out</a>

      </li>
    </ul>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.slider').slider({ full_width: true });
      });
    </script>







    <!-- <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!">
      <img src="../public/assets/beach.jpg">
    </a>
    <a class="carousel-item" href="#two!">
      <img src="../public/assets/beach.jpg">
    </a>
    <a class="carousel-item" href="#three!">
      <img src="../public/assets/equipment.jpg">
    </a>
    <a class="carousel-item" href="#four!">
      <img src="images/4.jpg">
    </a>
  </div> -->

    <script type="text/javascript">
      $('.carousel.carousel-slider').carousel({ full_width: true });
    </script>

    <footer class="page-footer footer-fixed gradient-45deg-purple-deep-orange">
    </footer>


</body>

</html>