<!DOCTYPE html>

<html lang="en">

<head>

   <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go or Owe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/styles.css" /> -->
  
    <style>
        .jumbotron {
            background-color: #000000;
            color: #fff;
            padding: 100px 25px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .container-fluid {
            padding: 60px 50px;
        }
      
        #navbar {
            font-size: 18px;
        }
    </style>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
        <!-- Just an image -->
        <a class="navbar-brand" href="#">
            <img src="/GoOrOwe/public/images/gym-equipment.png" width="30" height="30" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="navbar" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" id="navbar">
                    <a class="nav-link"  id="navbar" href="/group">Groups</a>
                </li>
                <li class="nav-item" id="navbar">
                    <a class="nav-link" id="navbar" href="/addUsers">Send Invitation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbar" href="/settings">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbar" href="/newGroup">not sure </a>
                </li>
            </ul>
        </div>
    </nav>

  </head>
  
  <body>
  
   <form class="container-fluid">

        <div class="form-group row">
            <label for="inputGroupName" class="col-sm-1 col-form-label">Group Name</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="inputGroupName" placeholder="Swollmates">
            </div>
        </div>


        <div>
            <!-- This will hold the paypal money pot information -->
        </div>

        <div>
            <!-- This will hold the paypal amount and frequency for the group membmers -->
            <!-- Frequency = daily / Amount = $1-->
        </div>



    </form>


</body>
  
<script src="server.js"></script>

</html>

