<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Go or Owe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialzie -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title">
    <nav>
        <div class="row">
            <div class="nav-wrapper col s6">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/">Sign in / Sign out</a>
                    </li>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                </ul>
            </div>
            <div class="col s2 flow-text">
                <a href="#!" class="brand-logo">GG</a>
            </div>
            <div class="col s2" id="navbar-image">
                <Ui>
                    <a href="#user">
                        <img class="circle responsive-img" src="https://lh4.googleusercontent.com/-blYAQ-Bage8/AAAAAAAAAAI/AAAAAAAAAVY/om2wcHwR_O8/s96-c/photo.jpg">
                    </a>
                </Ui>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="/">Sign in / Sign out</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/shop">Shop</a>
        </li>
    </ul>
</head>

<body>
    <div class="row">
        <div class="col s2"></div>
        <div class="center-align col s8">
            <h4>Redeem Points</h4>
        </div>
        <div class="col s2"></div>
    </div>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">card_giftcard</i>Gift Card</div>
            <div class="collapsible-body">
                <span>
                    <div class="row">
                        <div class="col s6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/amazon.jpg">
                                    <span class="card-title"></span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                        <i class="material-icons">card_membership</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p>Amount: $25
                                        <br> Cost: 100 points</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/gnc.jpg">
                                    <span class="card-title"></span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                        <i class="material-icons">card_membership</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p>Amount: $50
                                        <br> Cost: 200 points.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/visa.jpg">
                                    <span class="card-title"></span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                        <i class="material-icons">card_membership</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p>Amount: $25
                                        <br> Cost: 100 points</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="images/cookie.jpg">
                                    <span class="card-title"></span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                        <i class="material-icons">card_membership</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p>Amount: $10
                                        <br> Cost: 40 points</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/protein1.jpg">
                                    <span class="card-title"></span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                        <i class="material-icons">card_membership</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p>Amount: $10
                                        <br> Cost: 60 points</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/scheels1.jpg">
                                    <span class="card-title"></span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                        <i class="material-icons">card_membership</i>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p>Amount: $100
                                        <br> Cost: 400 points</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">wc</i>Apperal</div>
            <div class="collapsible-body">
                <span>
                        <div class="row">
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/nike.jpeg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">accessibility</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Nike Socks
                                                <br> Cost: 100 points</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/adidas.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">accessibility</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Adidas Shoes, Ultra Boost
                                                <br> Cost: 300 points.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/ogio.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">accessibility</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Ogio Gym Bag
                                                <br> Cost: 150 points</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/UA1.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">accessibility</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Under Armor Jacket
                                                <br> Cost: 300 points</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/lulu.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">accessibility</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p> Lululemon Hat
                                                <br> Cost: 60 points</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/puma.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">accessibility</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Puma Shorts
                                                <br> Cost: 75 points</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">directions_run</i>Gym Equipment</div>
            <div class="collapsible-body">
                <span>
                        <div class="row">
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/jump.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">fitness_center</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Jump Rope
                                                <br> Cost: 100 points</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/bands.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">fitness_center</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Resistant Bands
                                                <br> Cost: 200 points.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/dumb.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">fitness_center</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Dumbbell
                                                <br> Cost: 100 points</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="images/kettle.png">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">fitness_center</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>KettleBell
                                                <br> Cost: 75 points</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/bike.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">fitness_center</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Exercise Bike
                                                <br> Cost: 2500 points</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/treadmill.jpg">
                                            <span class="card-title"></span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light  blue accent-4">
                                                <i class="material-icons">fitness_center</i>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p>Treadmill
                                                <br> Cost: 5000 points</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </span>
            </div>
        </li>
    </ul>
   
</body>
<style>
    .carousel .carousel-item {
        width: 100%;
        ;
    }

    #product {
        margin-left: 32%
    }
</style>
<script src="server.js"></script>
<script>
    $("#protein").click(function () {
            console.log($("#protein"))
            console.log("hello there")
        }),










        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
        });
</script>

</html>
